<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="false">

    <!-- 控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %-5level[%thread] %logger.%M: %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- 出错日志 appender  -->
    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <!-- log.dir 在maven profile里配置 -->
            <fileNamePattern>log/luna-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %-5level[%thread] %logger.%M: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="File" />
	</root>

    <logger name="org.hibernate" level="warn"/>
    <logger name="net.sf.ehcache" level="info"/>
    <logger name="org.apache.shiro" level="info"/>
    <logger name="org.springframework" level="warn"/>

</configuration>



